@import "forkme";

html {
  background: black url(/images/launch-background.jpg) no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
}

body {
  &.launch {
      margin: 0px;
      background: transparent;
  }
  
  .launch-content {
    margin-top: 175px;
    background: transparent;
    vertical-align: baseline;
    background: transparent;

    .launch-form {
      color: #eee;
      height: 280px;
      width: 320px;
      background-color: rgba(0,0,0,.85);
      border-radius: 10px;
      border: solid 2px #444;
      padding: 40px;
      margin-left: auto;
      margin-right: auto;
      vertical-align: baseline;
      box-shadow: 0px 0px 10px rgba(100,100,100,.5);
      
      h1, h2, h3 {
        color: #eee;
        text-align: center;
      } 
      
      .share-column {
        width: 80px;
        float: left;
        text-align: center;
      }     
    }
  }
}