| Thank you for your purchase!

| Here\'s the link to download the information.

= @user.get_access_link

| If you have any questions, don't hesitate to contact us.

| Sincerely,
| The Rails Bootstrap Team